<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
           Trailers
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list *ngIf="jsonData">
        <ion-item *ngFor="let item of jsonData.user">
            {{ item.MovieName }} <br> {{ item.Trailer }}
            <!-- <iframe width="100%" height="400" [src]="'https://www.youtube.com/embed/' + videoId"></iframe> -->

        </ion-item>
    </ion-list>
    <div *ngIf="!jsonData">
        Loading data...
    </div>
    <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>