<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Vijay Movies
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 11</ion-title>
        </ion-toolbar>
    </ion-header>
    <div *ngIf="jsonData">
        <ion-card *ngFor="let item of jsonData.user.slice().reverse()">
            <!-- <img alt="Silhouette of mountains" src="../../assets/icon/favicon.png" /> -->
            <ion-card-header>
              <ion-card-subtitle>{{ item.Director }} in</ion-card-subtitle>
              <ion-card-title>{{item.MovieName}}</ion-card-title>

            </ion-card-header>
          
            <ion-card-content>
                Cast : {{ item.Cast }}
            </ion-card-content>
          </ion-card>
        </div>
    <div *ngIf="!jsonData">
        Loading data...
    </div>
    
    <!-- <ion-list *ngIf="jsonData">
        <ion-item *ngFor="let item of jsonData.user">
            {{ item.MovieID }} : {{ item.MovieName }}
        </ion-item>
    </ion-list>
     -->
    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>