<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list *ngIf="jsonData">
        <ion-item *ngFor="let item of jsonData.user">
            {{ item.MovieID }} : {{ item.MovieName }}
        </ion-item>
    </ion-list>
    <div *ngIf="!jsonData">
        Loading data...
    </div>
    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>