<ion-header  [translucent]="true">
    <ion-toolbar class="header">
        <ion-title>
            Vijay rasigan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div *ngIf="jsonData">
        <ion-card *ngFor="let item of jsonData.user.slice().reverse()" (click)="showMovieDetails(item)">

            <ion-card-header>
              <ion-card-subtitle>{{ item.Director }} in</ion-card-subtitle>
              <ion-card-title>{{item.MovieName}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Cast : {{ item.Cast }}
            </ion-card-content>
          </ion-card>
        </div>
    <div *ngIf="!jsonData">
        Loading data...
    </div>
    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>