<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Vijay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Vijay</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Vijay</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
      <img src="../../assets/icon/favicon.png">
      Joseph Vijay Chandrasekhar (born 22 June 1974), known professionally as Vijay, is an Indian actor and singer who works predominantly in Tamil cinema. He is among the highest paid actors in India and has featured in Forbes India's Celebrity 100 list on seven occasions. He has played the lead in 66 films and the International Business Times framed him as a "consistent performer". Referred to as Thalapathy, Vijay has a significant following internationally. He has won several awards, including an Osaka Best Actor Award and a South Indian International Movie Award. In 2023, he became the highest paid actor in India and one of the top paid actors in the world. 
    </ion-card-content>
  </ion-card>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
